@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RobotoCondensed';
  src: url("/fonts/RobotoCondensed-Medium.ttf") format("opentype");
}

html {
  font-family: 'RobotoCondensed';
  color: #73492e /* global coconut color */;
}

/* Scroll bar styling */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #73492e var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #73492e;
  border-radius: 14px;
  border: 3px solid var(--primary);
}

/* Scroll bar styling end */

/* Global input styling */
::-webkit-input-placeholder, :placeholder-shown {
    color: rgba(115, 73, 46, 0.5) !important; /* same color as #73492e, with less opacity */
    opacity: 1;
  }
/* Global input styling end */