@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RobotoCondensed';
  src: url("/fonts/RobotoCondensed-Medium.ttf") format("opentype");
}

html {
  font-family: 'RobotoCondensed';
  color: #73492e /* global coconut color */;
}

*::-webkit-scrollbar-track {
  background: '#EDD793'
}

*::-webkit-scrollbar-thumb {
  background: '#000';
}